<md-dialog flex-xs="100" flex-sm="50" flex-gt-sm="25">
    <md-content class="md-padding panel-login">
        <div class="alert alert-danger" ng-if="errorMessage">
            {{errorMessage}}
        </div>
        <div layout="row" class="md-padding panel-heading">
            <div flex class="flex-center">
                <a href="" ng-class="{'active':!isRegister}" onclick="log()" ng-click="isRegister=false">Login</a>
            </div>
            <div flex class="flex-center">
                <a href="" ng-class="{'active':isRegister}" onclick="reg()" ng-click="isRegister=true">Register</a>
            </div>
        </div>
        <div layout="row">
            <div ng-form="loginForm" layout="column" ng-if="!isRegister" flex>
                <md-input-container>
                    <label>Username</label>
                    <input type="text" name="username" ng-model="login.username" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="login.password" minlength="5" required>
                    <div ng-show="loginForm.password.$touched&&loginForm.password.$invalid">
                        <div ng-messages="loginForm.password.$error">
                            <div ng-message="minlength">Min length should be 5</div>
                        </div>
                    </div>
                </md-input-container>
                <md-checkbox ng-model="login.remember">
                    Remember Me
                </md-checkbox>
                <div class="flex-center">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="loginUser()">Login</md-button>
                </div>
                <div class="text-center">
                    <a href="javascript:void(0)" class="forgot-password">Forgot Password?</a>
                </div>
            </div>
            <div ng-form="registerForm" ng-if="isRegister" layout="column" flex>
                <md-input-container>
                    <label>Username</label>
                    <input type="text" name="username" ng-model="register.username" required>
                </md-input-container>
                <md-input-container>
                    <label>Email Address</label>
                    <input type="email" name="email" ng-model="register.email" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="register.password" minlength="5" required>
                    <div ng-show="registerForm.password.$touched&&registerForm.password.$invalid">
                        <div ng-messages="registerForm.password.$error">
                            <div ng-message="minlength">Min length should be 5</div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword" ng-model="register.confpassword" minlength="5" required>
                    <div ng-show="registerForm.confirmpassword.$touched&&registerForm.confirmpassword.$invalid">
                        <div ng-messages="registerForm.confirmpassword.$error">
                            <div ng-message="minlength">Min length should be 5</div>
                        </div>
                    </div>
                </md-input-container>
                <div class="flex-center">
                    <md-button type="submit" class="md-raised  md-primary" ng-disabled="registerForm.$invalid" ng-click="registerUser()">Register</md-button>
                </div>
            </div>
        </div>
    </md-content>
</md-dialog>
